.neumorphism {
    margin: 0;
    padding: 0;
    background: none;
    border: .0625rem solid var(--neutral-400) !important;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: inset -3px -3px 6px var(--neutral-200), inset 3px 3px 6px var(--neutral-600);
    /* transition: box-shadow 0.8s ease; */
    width: 12rem;
    height: 3rem;
    font-size: 16px;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
}

.neumorphism:focus {
    box-shadow: -3px -3px 6px var(--neutral-200), 3px 3px 6px var(--neutral-600);
}

::placeholder {
    color: var(--neutral-500);
    font-size: 0.75rem;
}