.svgFrame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svgFrame svg {
    position: absolute;
    transition: .5s;
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
}

.svgFrame svg #center {
    transition: .5s;
    transform-origin: center;
}

.svgFrame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

.out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
}

.out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
}

.inner {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
}

.center {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes rotate16 {
    to {
        transform: rotate(360deg);
    }
}