.container{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.25rem;
}

.item {
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
}


@media screen and (min-width:640px) {
    .container {
        padding: 2.4rem 4rem;
    }

}
