.neumorphismForm {
    padding: 20px;
}

.neumorphismInput {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}


.neumorphismButton {
    font-size: 1rem;
    border-radius: 5px;
}

