.container{
    position: absolute;
    width: 100vw;
    display: flex;
    bottom: 0;
    height: 4rem;
    background-color: var(--primary-300);
}

.block{
    border: 1px solid var(--primary-600);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}